+homework1/.ipynb_checkpoints/hw_1-1-masked-arrays-checkpoint.ipynb
+
+homework1/.ipynb_checkpoints/hw_1-2-crosscorrelation-checkpoint.ipynb
+
+homework1/.ipynb_checkpoints/hw_1-4-ImageDenoising-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-1-masked-arrays-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-2-crosscorrelation-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-4-ImageDenoising-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-1-masked-arrays-checkpoint.ipynb

homework2/.ipynb_checkpoints/hw_2-pip_git-checkpoint.ipynb

homework2/CalCalc.pyc

homework2/hw_2-pip_git.ipynb

hw3/.ipynb_checkpoints/problem2-checkpoint.ipynb

hw3/.ipynb_checkpoints/problem3-checkpoint.ipynb

hw3/.ipynb_checkpoints/problem1-checkpoint.ipynb

*.jpg
