+homework1/.ipynb_checkpoints/hw_1-1-masked-arrays-checkpoint.ipynb
+
+homework1/.ipynb_checkpoints/hw_1-2-crosscorrelation-checkpoint.ipynb
+
+homework1/.ipynb_checkpoints/hw_1-4-ImageDenoising-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-1-masked-arrays-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-2-crosscorrelation-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-4-ImageDenoising-checkpoint.ipynb

homework1/.ipynb_checkpoints/hw_1-1-masked-arrays-checkpoint.ipynb
